.heading-container {
    background-color: #0D0D0D;
    min-height: 400px;
}

/* .banner-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
} */

/* .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
} */


.card-background {
    background-color: #0D0D0D;
}

.selected-players {
    background-color: #0D0D0D;
}

.budget {
    background-color: #0D0D0D;
}

.per-player-input {
    margin-left: 5%;
}

.manager-input {
    margin-left: 8%;
}

.coach-input {
    margin-left: 16%;
}

.footer {
    background-color: #0D0D0D;
}