.heading-container {
    background-color: #0D0D0D;
    display: block;
}

.custom-text {
    color: #FF5E19;
    font-family: 'Berkshire Swash', cursive;
}

.card-background {
    background-color: #0D0D0D;
}

.selected-players {
    background-color: #0D0D0D;
}

.budget {
    background-color: #0D0D0D;
}

.per-player-input {
    margin-left: 5%;
}

.manager-input {
    margin-left: 8%;
}

.coach-input {
    margin-left: 16%;
}

.footer {
    background-color: #0D0D0D;
}

@media only screen and (max-width: 576px) {

    .left-image,
    .right-image {
        width: 100%;
    }

    .heading-container {
        display: block !important;
    }

    .left-image {
        margin-top: 20px !important;
    }

    .custom-text {
        margin-top: 70px !important;
    }

    .left-side-col {
        width: 100% !important;
    }

    .right-side-col {
        width: 100% !important;
        padding-bottom: 110px !important;
    }
}