.heading-container {
    background-color: #0D0D0D;
    min-height: 400px;


}

/* .banner-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
} */

/* .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
} */


.card-background {
    background-color: #0D0D0D;
}

.selected-players {
    background-color: #0D0D0D;
}

.budget {
    background-color: #0D0D0D;
}

.footer {
    background-color: #0D0D0D;
}